<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/resources/img/icon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/resources/bootstrap-4.0.0-dist/css/bootstrap.min.css">

    <title>Hibernia-Sino Management</title>
</head>

<body>
    <div class="login-container d-flex flex-column">
        <header>
            <nav class="navbar navbar-light text-light justify-content-start"
                style="background-color: rgba(0, 0, 0, 0.5);">
                <img src="../static/resources/img/icon.png" width="30" height="30" class="d-inline-block align-top">
                Hibernia-Sino Management System
            </nav>
        </header>

        <main role="main">
            <div class="row">
                <div class="col-2 m-3">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="toprocess-list" data-toggle="list"
                            href="#toprocess" role="tab" aria-controls="home">To Process</a>
                        <a class="list-group-item list-group-item-action" id="processing-list" data-toggle="list"
                            href="#processing" role="tab" aria-controls="profile">Processing</a>
                        <a class="list-group-item list-group-item-action" id="processed-list" data-toggle="list"
                            href="#processed" role="tab" aria-controls="profile">Processed</a>

                    </div>
                </div>
                <div class="flex-column col-8 m-3">

                    <ul class="nav flex-row bg-dark justify-content-start align-items-center p-2 mb-3"  style="border-radius: 3px;">
                        <li class="ml-2 mr-3">
                            <button class="btn btn-sm btn-outline-light">Time</button>
                        </li>
                        <li>
                            <button class="btn btn-sm btn-outline-light">Place</button>
                        </li>
                        <li class="ml-auto">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Policy Number"
                                    aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="toprocess" role="tabpanel"
                            aria-labelledby="toprocess-list">
                            <div class="list-group">
                                <a href="claimdetail.html" target="_blank"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <small class="text-truncate">Donec id elit non mi porta.</small>
                                </a>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="processing" role="tabpanel" aria-labelledby="processing-list">
                            <div class="list-group">
                                <a href="claimdetail.html" target="_blank"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group processing</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <small class="text-truncate">Donec id elit non mi porta.</small>
                                </a>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="processed" role="tabpanel" aria-labelledby="processed-list">
                            <div class="list-group">
                                <a href="claimdetail.html" target="_blank"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <small class="text-truncate">Donec id elit non mi porta.</small>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="../static/resources/bootstrap-4.0.0-dist/others/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/resources/bootstrap-4.0.0-dist/others/popper.min.js"></script>
    <script src="../static/resources/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</body>