<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta id="i18n_pagename" content="index-common">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/resources/img/icon.ico">
    <title class="i18n" name='title'></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/resources/bootstrap-4.0.0-dist/css/bootstrap.min.css">

    <link rel="styleSheet" href="../static/css/homepage.css" />
</head>

<body class="text-center bg-image">

    <div class="container d-flex h-100 p-3 flex-column">

        <header class="w-100">
            <div class="d-flex">
                <div class="mr-auto align-items-center d-flex flex-row">
                    <img src="../static/resources/img/icon.png" height="100" />
                    <!-- <p class="lead font-weight-bold text-secondary">Hibernia-Sino <br> Travel Insurance</p> -->
                </div>

                <ul class="nav nav-style align-items-center justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active i18n" name="homepage" id="home-tab" data-toggle="tab" href="#home"
                            role="tab" aria-controls="home" aria-selected="true"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link i18n" name="account" id="account-tab" data-toggle="tab" href="#account"
                            role="tab" aria-controls="account" aria-selected="false"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link i18n" name="contact" id="contact-tab" data-toggle="tab" href="#contact"
                            role="tab" aria-controls="contact" aria-selected="false"></a>
                    </li>
                    <li class="nav-item dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="language_button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>

                        <ul id="language" class="dropdown-menu text-light" aria-labelledby="language">
                            <li><a class="dropdown-item" href="#" value="zh-CN" disabled="false">中文简体</a></li>
                            <li><a class="dropdown-item" href="#" value="en" disabled="false">English</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>

        <main role="main" class="inner mt-5">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h1 class="cover-heading i18n" name="slide1_title"></h1>
                                <p class="lead p-3 pb-5 i18n" name="slide1_content"></p>
                                <p class="lead mt-5">
                                    <a href="#" class="btn btn-outline-light btn-secondary i18n"
                                        name="slide1_button"></a>
                                </p>
                            </div>
                            <div class="carousel-item">
                                <h1 class="cover-heading i18n" name="slide2_title"></h1>
                                <p class="lead p-3 pb-5 i18n" name="slide2_content"></p>
                                <p class="lead mt-5">
                                    <a href="#" class="btn btn-outline-light btn-secondary i18n"
                                        name="slide2_button"></a>
                                </p>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators" style="position:relative;top:0.5rem;">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>
                    </div>
                </div>

                <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <form class="login-form text-left">
                        <div>
                            <h2 class="i18n" name="signin_title"></h2>
                            <div class="d-inline-flex">
                                <p class="i18n" name="signin_info1"></p>
                                <a data-toggle="modal" href="#signup"><i class="m-1 i18n" name="signin_signup"></i></a>
                                <p class="i18n" name="signin_info2"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username_lo" class="i18n" name="signin_account"></label>
                            <input type="text" id="username_lo" class="form-control is-valid i18n-input"
                                selectname="signin_account_placeholder" selectattr="placeholder" required autofocus>

                        </div>

                        <div class="form-group">
                            <label for="password_lo" class="i18n" name="signin_password"></label>
                            <input type="password" id="password_lo" class="form-control i18n-input"
                                selectname="signin_password_placeholder" selectattr="placeholder" required>
                            <div class="d-flex justify-content-end">
                                <a class="text-light" href="#"><i class="i18n" name="forget_password"></i></a>
                            </div>
                        </div>

                        <div class="checkbox mb-1">
                            <input type="checkbox" value="remember-me">
                            <label class="i18n" name="signin_remember"></label>
                        </div>
                        <button id="user_sign_in" class="btn btn-lg btn-secondary btn-block i18n"
                            name="signin_button"></button>

                    </form>
                </div>

                <div id="signup" class="modal fade" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" data-backdrop="static" data-keyboard="false"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="text-left">
                                    <h2 class="i18n" name="signup_title"></h2>
                                    <p class="font-weight-light m-0 i18n" name="signup_info" style="color:red"></p>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="text-left">
                                    <div class="form-column m-0">
                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <span class="require">*</span>
                                                <label for="username_re" class="i18n" name="signup_tel"></label>
                                                <div class="input-group">
                                                    <input type="text" id="username_re" class="form-control i18n-input"
                                                        selectname="signin_account_placeholder" selectattr="placeholder"
                                                        aria-label="tel" required />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-dark i18n" name="signup_code_button"
                                                            type="button"></button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <span class="require">*</span>
                                                <label for="securityCode" class="i18n" name="signup_code"></label>

                                                <div class="userCode-input">
                                                    <input type="text" id="securityCode" class="form-control i18n-input"
                                                        selectname="signup_code_placeholder" selectattr="placeholder"
                                                        required />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <span class="require">*</span>
                                                <label class="i18n" name="applicant_id"></label>
                                                    <input type="text" id="userId"
                                                        class="form-control i18n-input"
                                                        selectname="applicant_id_placeholder"
                                                        selectattr="placeholder" required />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <span class="require">*</span>
                                                <label class="i18n" name="applicant_name"></label>
                                                <input type="text" id="userName" class="form-control i18n-input"
                                                    selectname="signup_name_placeholder" selectattr="placeholder"
                                                    required />
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <span class="require">*</span>
                                                <label class="i18n" name="signin_password"></label>
                                                    <input type="password" id="userPassword"
                                                        class="form-control i18n-input"
                                                        selectname="signin_password_placeholder"
                                                        selectattr="placeholder" required />
                                            </div>

                                            <div class="form-group col-md-6">
                                                <span class="require">*</span>
                                                <label class="i18n" name="signup_confirm"></label>
                                                <div class="userRePassword-input">
                                                    <input type="password" id="userRePassword"
                                                        class="form-control i18n-input"
                                                        selectname="signup_confirm_placeholder" selectattr="placeholder"
                                                        required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="user_sign_up" class="btn btn-lg btn-secondary btn-block mt-2 mb-2 i18n"
                                    name="signup_button" type="submit"></button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                </div>

            </div>



        </main>

        <footer class="mt-auto text-light pb-0">
            <div class="inner">
                <p class="footer-style">Represented By Team Tirteen.</p>
            </div>
        </footer>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/resources/bootstrap-4.0.0-dist/others/jquery-3.3.1.js"></script>
    <script src="../static/resources/bootstrap-4.0.0-dist/others/popper.min.js"></script>
    <script src="../static/resources/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>

    <script src="../static/resources/i18n/jquery.i18n.properties.js"></script>
    <script src="../static/resources/i18n/language.js"></script>

    <script src="../static/js/homepage.js"></script>
</body>

</html>