<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta id="i18n_pagename" content="index-common">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/resources/img/icon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/resources/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/resources/bootstrapvalidator-0.5.2/dist/css/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="../static/css/login.css">

    <title class="i18n" name="signin_title"></title>
</head>

<body class="bg-image">
    <div class="login-container d-flex flex-column">
        <header>
            <nav class="navbar navbar-light text-light justify-content-start"
                style="background-color: rgba(0, 0, 0, 0.5);">
                <img src="../static/resources/img/icon.png" width="30" height="30" class="d-inline-block align-top">
                <span class="i18n" name="management_title"></span>

                <div class="ml-auto" style="margin-right: 10%;">
                    <div class="dropdown show">
                        <a class="btn btn-sm btn-dark dropdown-toggle" href="#" role="button" id="language_button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>

                        <ul id="language" class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" value="zh-CN" disabled="false">中文简体</a></li>
                            <li><a class="dropdown-item" href="#" value="en" disabled="false">English</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main">
            <div class="d-flex justify-content-end">
                <form class="login-form text-left p-4" style="color: white;width: 30%">
                    <div>
                        <h2 class="i18n" name="signin_title"></h2>
                    </div>

                    <div class="form-group mt-3 mb-2">
                        <label class="i18n" name="signin_account" style="margin-bottom: 0rem"></label>
                        <input type="text" id="employee_lo" name="employee_name" class="form-control i18n-input" selectname="signin_account"
                            selectattr="placeholder" required autofocus>

                    </div>

                    <div class="form-group mb-2">
                        <label class="i18n" name="signin_password" style="margin-bottom: 0rem"></label>
                        <input type="password" id="password_em" name="employee_password" class="form-control i18n-input"
                            selectname="signin_password_placeholder" selectattr="placeholder" required>
                    </div>

                    <div class="checkbox mt-3">
                        <label>
                            <input type="checkbox" value="remember-me" class="i18n" name="signin_remember">
                        </label>
                    </div>
                    <button id="employee_login" class="btn btn-lg btn-primary btn-block i18n" name="signin_button"
                        type="submit"></button>

                </form>
            </div>

        </main>

    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/resources/bootstrap-4.0.0-dist/others/jquery-3.3.1.js"></script>
    <script src="../static/resources/bootstrap-4.0.0-dist/others/popper.min.js"></script>
    <script src="../static/resources/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>

    <script src="../static/resources/bootstrapvalidator-0.5.2/dist/js/bootstrapValidator.min.js"></script>
    <script src="../static/resources/bootstrapvalidator-0.5.2/dist/js/language/en_US.js"></script>

    <script src="../static/resources/i18n/jquery.i18n.properties.js"></script>
    <script src="../static/resources/i18n/language.js"></script>

    <script src="../static/js/login.js"></script>
</body>

</html>