.bg-image {
    background-image: url("templates/login.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}

.login-form {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5rem;
    margin-right: 10rem;
    min-width: 20rem;
}